<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>방명록</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
    <script>
        function writeComment(){
            let form = document.getElementById('form_comment');

            axios({
                method : 'post',
                url    : 'http://localhost:8081/visitor/write',
                data   : {
                    name : form.name.value,
                    comment : form.comment.value
                }
            })
            // 작성 후 새로고침을 해야 추가되는 부분을 아래 방법으로 정의하면 작성 후 바로 추가된다.
            .then((rep) => {
                return rep.data;
            })
            .then((data) => {
                let html = "<tr><td>" + data.id + "</td><td>" + form.name.value + "</td><td>" + form.comment.value + "</td></tr>";
                $('table').append(html);
            })
        }
    </script>
</head>
<style>
    @font-face {
        font-family: 'GangwonEdu_OTFBoldA';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    body {
        font-family: 'GangwonEdu_OTFBoldA';
    }

    #table_box {
        margin-top: 5%;
    }

    input{
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    button {
        font-family: 'GangwonEdu_OTFBoldA';
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 15%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;      
    }

    button:hover, button:active, button:focus {
        background: #43A047;
    }    

    input[type="text"]{
        margin-top:5px;
        font-family: 'GangwonEdu_OTFBoldA';
    }

</style>

<body>
    <form id="form_comment" style="width:100%;">
        <fieldset>
            <legend>방명록 등록</legend>
            <input type="text" name="name" placeholder="사용자 이름"><br>
            <input type="text" name="comment" placeholder="방명록"><br>
            <div id="button-group">
                <button type="button" class="bt_submit" onclick="writeComment();">등록</button>
            </div>
        </fieldset>
    </form>


    <table id="table_box" border="1" cellpadding="5" style="width:100%; text-align:center;">
        <thead>
            <tr>
                <th>ID</th>
                <th>작성자</th>
                <th>방명록</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
        </thead>

        <tbody>
            <!-- controller에서 {data : result} 키 : 값 으로 정보를 가져온다. -->
            <% for(let i = 0; i < data.length; i++){ %>
                <tr>
                    <td>
                        <%=data[i].id%>
                    </td>
                    <td>
                        <%=data[i].name%>
                    </td>
                    <td>
                        <%=data[i].comment%>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>

</html>