<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>방명록</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<style>
    @font-face {
        font-family: 'GangwonEdu_OTFBoldA';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    body {
        font-family: 'GangwonEdu_OTFBoldA';
    }

    #table_box {
        margin-top: 5%;
    }

    input{
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    button {
        font-family: 'GangwonEdu_OTFBoldA';
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 15%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;      
        margin-right:10px;
    }

    button.edit_btn{
        margin-right:0;
        width:50%;
    }

    button.reset_btn{
        margin-right:0;
        width:50%;
    }

    button:nth-child(2){

    }

    button:hover, button:active, button:focus {
        background: #43A047;
    }    

    input[type="text"]{
        margin-top:5px;
        font-family: 'GangwonEdu_OTFBoldA';
    }
</style>

<body>
    <table id="table_box" border="1" cellpadding="5" style="width:100%; text-align:center;">
        <thead>
            <tr>
                <th>아이디</th>
                <th>비밀번호</th>
                <th>이름</th>
                <th>생년월일</th>
                <th>성별</th>
                <th>이메일</th>
            </tr>
        </thead>

        <tbody>
        
        </tbody>
    </table>
</body>
</html>