<html>

<head>
    <title>회원가입</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300&amp;display=swap'>
    <script src="https://kit.fontawesome.com/9ad05a77c3.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        function profileEdit(){
            let form = document.getElementById('form_profile');
            if(!form.checkValidity()){
                form.reportValidity();
                return false;
            }

            axios({
                method : 'post',
                url : 'http://localhost:8080/profile/edit',
                data : {
                    id : form.id.value,
                    pw : form.password.value,
                    name : form.name.value,
                    email : form.email.value
                }
            }).then((rep) => {
                return rep.data;
            }).then((data) => {
                alert('수정 성공');
            });
        }


        function profileDelete() {
                let form = document.getElementById("form_profile");
                if(!form.checkValidity()){
                form.reportValidity();
                return false;
            }

            axios({
                method: 'post',
                url: 'http://localhost:8080/profile/delete',
                data: {
                    id: form.id.value                        
                }
            }).then((rep) => {
                return rep.data;
            }).then((data) => {
                alert( "회원 탈퇴 성공" );
                document.location.href = "/sign";
            });
            }        
    </script>
</head>
<style>
    * {
        box-sizing: border-box;
    }

    @font-face {
        font-family: 'MICEGothic Bold';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: 'MICEGothic';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'GangwonEdu_OTFBoldA';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    .bt_box2{
        width:100%;
        margin-top:40px;
    }  
    
    button.card__button{
        display:inline-block;
        width:40%;
    }

    button.card__button.co_b{
        background:#333;
    }

    .intro_title {
        margin-bottom: 20px;
    }

    .intro_title h2 {
        font-family: 'MICEGothic Bold';
        font-size: 32px;
    }

    .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 14px;
        font-family: 'GangwonEdu_OTFBoldA';
    }

    .message a {
        color: #4CAF50;
        font-size: 14px;
        text-decoration: none;
    }

    .terms_area {
        height: 200px;
        border: 1px solid #d2d2d2;
        background: #fff;
        font-size: 12px;
        color: #888;
        line-height: 1.75;
        font-weight: 300;
        overflow-y: auto;
        padding: 20px;
        margin-top: 10px;
        text-align: left;
    }

    input#agree {
        width: auto;
    }

    label.intro {
        width: 100%;
        text-align: left;
        font-family: 'GangwonEdu_OTFBoldA';
    }


    body {
        background: #f6f5f7;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        height: 100vh;
        margin: -20px 0 50px;
    }

    h1 {
        font-weight: bold;
        margin: 0;
        font-family: 'GangwonEdu_OTFBoldA';
    }

    h2 {
        text-align: center;
        font-family: 'GangwonEdu_OTFBoldA';
    }

    p {
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: 0.5px;
        margin: 20px 0 30px;
    }

    span {
        font-size: 12px;
        font-family: 'GangwonEdu_OTFBoldA';
    }

    a {
        color: #333;
        font-size: 14px;
        text-decoration: none;
        margin: 15px 0;
    }

    button {
        /* border-radius: 20px; */
        background: #FF416C;
        background: -webkit-linear-gradient(to right, #4CAF50, #43A047);
        background: linear-gradient(to right, #4CAF50, #43A047);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        font-family: 'GangwonEdu_OTFBoldA';
        width: 100%;
        border: none;
    }

    button:active {
        transform: scale(0.95);
    }

    button:focus {
        outline: none;
    }

    button.ghost {
        background-color: transparent;
        border-color: #FFFFFF;
    }

    form {
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;
        text-align: center;
    }

    select {
        background-color: #eee;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
    }

    input {
        background-color: #eee;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
    }

    .container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
        position: relative;
        overflow: hidden;
        width: 90%;
        max-width: 100%;
        min-height: 700px;
    }

    .form-container {
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
    }

    .sign-in-container {
        left: 0;
        width: 100%;
        z-index: 2;
    }

    .container.right-panel-active .sign-in-container {
        transform: translateX(100%);
    }

    .sign-up-container {
        left: 0;
        width: 50%;
        opacity: 0;
        z-index: 1;
    }


</style>

<body>
    <div class="intro_title">
        <h2>회원정보수정</h2>
    </div>
    <div class="container" id="container">
        <div class="form-container sign-in-container">          
            <form id="form_profile">               
                <label class="intro" for="id">아이디</label>
                <input type="text" id="id" name="id" value="<%=data.id%>" readonly>

                <br>

                <label class="intro" for="password">비밀번호</label>
                <input type="password" id="password" name="password" value="<%=data.pw%>" required>

                <br>

                <label class="intro" for="name">이름</label>
                <input type="text" id="name" name="name" value="<%=data.name%>" required>

                <br>

                <label class="intro" for="email">이메일</label>
                <input type="email" id="email" name="email" value="<%=data.email%>" required>

                <div class="bt_box2">
                    <button class="card__button" type="button" onclick="profileEdit();">
                        <span>정보 수정</span>
                    </button>

                    <button class="card__button co_b" type="button" onclick="profileDelete();">
                        <span>회원 탈퇴</span>
                    </button>
                </div>  
            </form>                    
        </div>         
    </div>   
</body>

</html>