<html>
    <head>
        <title>Axios</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            function sendPost(){
                axios({
                    method:"post",
                    url:"http://localhost:8080/receive",
                    data:{
                        name: "codee"
                    }
                // }).then((response) => { console.log( response ); });
                }).then((a) => { return a.data; })
                .then((d) => {
                    alert( d.message );
                });
            } //Get에는 data가 아니고 params로 보내야한다.

            
            function sendGet(){
                axios({
                    method:"get",
                    url:"http://localhost:8080/test"
                // }).then((response) => { console.log( response ); });
                }).then((a) => { return a.data; })
                .then((rrr) => {
                    console.log(rrr.msg2);
                });

                // axios({
                //     method:"get",
                //     url:"http://localhost:8080/receive",
                //     params:{
                //         name: "codee"
                //     }
                // // }).then((response) => { console.log( response ); });
                // }).then((a) => { return a.data; })
                // .then((d) => {
                //     alert( d.message );
                // });
            }
            function sendForm(){
                var form = document.getElementById("form_info");
                console.log( form );

                // checkValidity => 어떤 조건이라도 실패한다면 false를 반환, 전부 통과한다면 true 반환
                let result = form.checkValidity();
                if(!result){
                    // 원래 폼 작성 안할 시 나오는 문구가 출력
                    form.reportValidity();
                    return false;
                }

                console.log(result);

                // console.log( form.name.value );
                // console.log( form.age.value );
                // axios({
                //     method:"post",
                //     url:"http://localhost:8080/receive",
                //     data:{
                //         name: form.name.value
                //     }
                // }).then((a) => { return a.data; })
                // .then((d) => {
                //     alert( d.message );
                // });
            }
        </script>
    </head>
    <body>
        <button type="button" onclick="sendPost();">sendPost</button>
        <button onclick="sendGet();">sendGet</button>
        <!-- <form action="/receive">
            <button type="button" onclick="sendPost()">버튼</button>
        </form>
        <button onclick="sendPost();">sendPost</button> -->
        <form id="form_info">
            <input type="text" name="name" required>
            <input type="text" name="age" required>
            <button type="button" onclick="sendForm()">sendForm</button>
        </form>
    </body>
</html>