<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS</title>
</head>
<body>
    <!-- 줄바꿈 할 때 마다 열고 < %    % > 닫아야 한다. -->
    <% for(let i = 0; i < 5; i++){%>
        <% if(i == 3){ %>
            <h3>Hi</h3>
        <% } else { %>
            <h1>Hi</h1> 
        <% } %>       
    <% } %>

    <% let a = 'Hello'; %>
    <p><%=a%></p>

    <%- include('03.test.ejs') %>
</body>
</html>