<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <form action="/user/register2" target="_blank" method="post" enctype="multipart/form-data">
        <fieldset style="width:500px;">
            <legend>개인정보</legend>
            아이디 : <input type="text" name="id"><br>
            비밀번호 : <input type="password" name="pw"><br>
            이름 : <input type="text" name="name"><br>
            나이 : <input type="text" name="age"><br>
            파일 : <input type="file" name="uploadfile"><br>
        </fieldset>
        <br>
        <button>회원가입</button>
    </form>
</body>
</html>