body{
    background:skyblue;    
    opacity: 0.6;
}



.chat-list{
    background:skyblue;
    width:50%;
    height:40vh;
    padding: 10px;
    opacity: 0.6;
    margin-bottom:1%;
}

.my-chat{
    text-align: right;
}

.my-chat div{
    background:yellow;
    display:inline-block;
    margin-bottom:10px;
    padding:5px 10px;
}

.other-chat div{
    background:#fff;
    display:inline-block;
    margin-bottom:10px;
    padding:5px 10px;
}

p{
    text-align: center;
    margin:0;
    font-size:12px;
    
}