/* 슬라이드 크기 */
.carousel-item{
    width:100%;
    height:90vh;
    position:relative;
}


/* 첫번째 슬라이드 */
.carousel-item:nth-child(1) {
    /* background: url('../image/back_01.jpg'); */
    /* background-size: cover; */
    /* background-position: center center; */
    /* background-repeat: no-repeat; */
}



.carousel-txt{
    /* border:2px solid red; */
    /* margin:0 auto; */
    /* text-align:center; */
    /* position:relative;    */
    /* top:50%; */
}


.bg {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
}

  video {
    width: 100%;
}
