@font-face {
    font-family: 'ROKAFSlabSerifMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSlabSerifMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#container{
    width:80%;
    margin:0 auto;
    padding:20px;
    box-sizing:border-box;
}

/* 왼쪽 박스 */
.left_box{
    width:30%;
    display:inline-block;

}

input{
    margin-bottom:10px;
}

label{
    font-family:'ROKAFSlabSerifMedium';
    display:inline-block;
}

button{
    background:#000;
    color:#fff;
    cursor:pointer;
    font-family:'ROKAFSlabSerifMedium';
    padding:5px 10px;
    width:240px;
}

input#user_day, input#user_content{
    padding:5px 10px;
}


/* 오른쪽 박스 */
.right_box{
    width:60%;
    display:inline-block;
    position: relative;
    top:-65px;
    left:60px;


}


/* table 관련 */
table{
    width:100%;
    text-align: center;
    box-sizing:border-box;
}

th{
    font-family:'ROKAFSlabSerifMedium';
}

tr{
    border-bottom:1px solid #ddd;
}

td{
    font-family: 'IBMPlexSansKR-Regular';   
    vertical-align:top;
    position:relative;
    box-sizing:border-box;
    width:123px !important;
    height:82px;
}

.h2_txt{
    text-align: center;
    color:green;
    font-family:'ROKAFSlabSerifMedium';
}

.red_txt{
    color:red;
}

.blue_txt{
    color:blue;
}

td > p:hover {
    transform: scale(1.4);
    cursor:pointer;
    font-weight:600;
}

p{
    margin-bottom:0;
}
