<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/login.css" />
    <script defer src="./js/membership.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9ad05a77c3.js" crossorigin="anonymous"></script>
    <title>회원가입</title>
</head>

<body>
    <div id="login-box">
        <div id="header">
            <a href="#" target="_blank">
                <img id="logo" src="./image/logo-3.png" alt="logo">
            </a>
        </div>

        <div class="section">
            <div class="form">
                <form class="login-form" action="" name="" target="" method="post">
                    <input type="text" name="username" placeholder="아이디" />
                    <input type="password" name="password" placeholder="비밀번호" />
                    <button>로그인</button>
                    <p class="message">등록하신 계정이 없으십니까? <a href="#">회원가입하기</a></p>
                </form>
            </div>
        </div>
    </div>

</body>
</html>