.best_box{
    background:#f5f5dc;
    width:50%;
    padding:20px;
    margin:0 auto;
    text-align: center;
}

.h1_text{
    color:orange;
    text-align: center;
}

img.b_img{
    width:50%;
}

h2.text_h2{
    font-size:16px;
    text-align: center;
}

.text_box{
    width:50%;
    text-align: left;
    margin:0 auto;
}